{% extends "BASED BASE.html" %}


{% block content %}
    <h1><center><font face="Century Gothic" color="white">Авторизация</font></center></h1>
    <body background="{{url_for('static', filename='images/Who_are_you.jpg')}}">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <center><font face="Century Gothic" color="white"><p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p></font></center>
        <center><font face="Century Gothic" color="white"><p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            </p></font></center>
        <center><a><p>{{ form.submit(type="submit", class="btn btn-primary", style="background: yellow;
            border-style: solid;
        text-decoration: none; color: black; border-radius: 5px; border-color: yellow; border-width: 1px;
        font-size: 20px; font-family: century gothic; padding: 10px; margin-right: 10px") }}
        </p></a></center>
        <center><font face="Century Gothic" color="white"><p>{{ form.remember_me() }} {{ form.remember_me.label }}
        </p></font></center>
        <div>{{ message }}</div>
    </form>
    </body>
{% endblock %}
